BINANCE_FEE_RATE=0.00055
BYBIT_FEE_RATE=0.00055
PAPER_INITIAL_BALANCE=10000
PAPER_SLIPPAGE_BPS=4
PAPER_DEPTH_SAFETY_FACTOR=0.35
DEPTH_LEVELS_ASSUMED=5
REAL_EXECUTION_ENABLED=false
MIN_FILL_RATIO=0.35
ENTRY_THRESHOLD_PCT=0.13
EXIT_THRESHOLD_PCT=0.03
MIN_QUALITY_SCORE=0.15
MAX_SIGNAL_AGE_MS=2500
TOP_PAIRS_LIMIT=8
RANKING_MIN_SIGNALS=20
NOTIONAL_USD=750
FEED_MODE=live
SYMBOLS=BRUSDT,LYNUSDT,JCTUSDT,PIPPINUSDT,FARTCOINUSDT,TAOUSDT,APTUSDT,HYPEUSDT
